@font-face {
  font-family: Ionicons;
  src: url("~@/assets/fonts/ionicons.ttf?v=3.0.0") format("truetype"),
    url("~@/assets/fonts/ionicons.woff?v=3.0.0") format("woff"),
    url("~@/assets/fonts/ionicons.svg?v=3.0.0#Ionicons") format("svg");
  font-weight: 400;
  font-style: normal;
}