@import "./cube-ui/index";

.mobile-view {
  overflow: hidden;
  user-select: none;

  .ant-layout {
    max-height: 100vh;
    font-size: 10px;

    > * {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }

      &:first-child {
        margin-bottom: 50px;
      }
    }
  }

  input {
    border: none;
    font-weight: 500;

    &::placeholder {
      font-size: 10px;
      font-weight: 500;
      color: var(--input-placeholder-color);
    }
  }
}

.panel-view .body-bar,
.vue-pull-to-wrapper > .scroll-container {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
