.assets-deposit {
  padding: 20px 0;
  .address-box {
    display: flex;
    width: 556px;
    height: 36px;
    line-height: 36px;
    .address-label {
      width: 106px;
      color: $color-gray;
    }
    .address-form {
      flex: 1 1;
      border-radius: 4px;
      border: 1px solid $border-color;
      position: relative;
      display: flex;
      input {
        border: 0;
        flex: 1 1;
        outline: none;
        padding: 0 10px;
        color: $text-default-color;
      }
      a {
        margin: 0 10px;
        position: relative;
      }
      .show-qrcode {
        cursor: default;
        display: none;
        position: absolute;
        height: 120px;
        width: 120px;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        &.active {
          display: block;
          background: #fff;
          border: 1px solid $bg-downdown-border-color;
          box-shadow: 0 0px 30px 0 rgba(255, 255, 255, 0.05);
        }
        canvas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }
  .block-address {
    display: block;
    text-align: right;
    width: 556px;
    line-height: 21px;
  }
}
