.page-assets-m {
  background-color: var(--bg-card-color);
  > .body-bar {
    > * {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .information-assets {
      margin: 12px;
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.07);
      > * {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .balance {
        .note {
          font-size: 12px;
          line-height: 30px;
          color: var(--disabled-color);
        }
        .value {
          font-size: 22px;
          .valuation {
            margin-top: 4px;
            font-size: 11px;
            color: var(--disabled-color);
          }
        }
      }
      .action {
        display: flex;
        > button {
          margin-right: 12px;
          flex: 1;
          color: $blue-color;
          border: 2px solid $blue-color;
          font-size: 14px;
          line-height: 25px;
          border-radius: 4px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .table-currency {
      .setting-row {
        .text {
          img {
            height: 25px;
            width: 25px;
            margin: auto 4px;
          }
          .name {
            font-size: 12px;
            margin-left: 6px;
            color: var(--disabled-color);
          }
        }
      }
    }
  }
}
