.pull-refresh {
  width: 100%;
    height: 100%;
    position: relative;
  .head-refresh {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, -100%);
    text-align: center;
  }
}

.page-home-m {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 1;
  .preview {
    img {
      width: 100vw;
    }
  }
  .feature-markets {
    background: $bg-card-color;
    margin-bottom: 8px;
    padding: 16px 10px;
    .swiper-slide {
      display: flex;
    }
    li {
      flex: 1;
      float: left;
      text-align: center;
      position: relative;
      &::first-child {
        padding-left: 16px;
      }
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        right: 0;
        background: $border-color;
      }
      p {
        line-height: 16px;
        &.name {
          color: $color-gray;
        }
        &.last {
          line-height: 20px;
        }
        &.rate,
        &.name {
          font-size: 13px;
        }
      }
    }
    .swiper-pagination {
      bottom: 2px;
    }
  }
  .top-btc-volume {
    margin-bottom: 8px;
    
    .other {
      font-size: 16px;
      text-align: right;
      float: right;
    }
  }
  .top-btc-volume,
  .trend-top {
    background: $bg-card-color;
    .title {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      .text {
        float: left;
      }
    }
    .ex_table {
      dt {
        color: $color-gray;
        font-size: 12px;
        &.menu {
          li {
            cursor: pointer;
            float: left;
            font-size: 18px;
            color: $text-default-color;
            &.selected {
              position: relative;
              color: $blue-color;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0px;
                height: 2px;
                width: 100%;
                background: $blue-color;
              }
            }
          }
          .other {
            cursor: pointer;
            i {
              font-size: 12px;
            }
          }
        }
      }
      dd p {
        font-size: 18px;
        border-bottom: 1px solid $border-color;
        line-height: 60px;
        height: 60px;
        &:last-child {
          border: 0;
        }
        span.pair {
          span + span {
            margin-left: 4px;
            color: $color-gray;
            font-size: 13px;
          }
        }
        span.rate > div {
          display: inline-block;
          border-radius: 2px;
          text-align: center;
          width: 82px;
          height: 32px;
          line-height: 30px;
          vertical-align: middle;
        }
      }
    }
  }
  .more-market {
    position: relative;
    height: 30px;
    font-size: 13px;
    text-align: center;
    color: $color-gray;
    padding: 10px 0;
    cursor: pointer;
    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      > span {
        position: relative;
        i {
          font-size: 14px;
          position: absolute;
          left: 0;
          &:first-child {
            top: 2px;
          }
          &:last-child {
            top: 6px;
          }
        }
      }
    }
	}
}
