.suggestion-2fa {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
  &-box {
    position: absolute;
    width: 250px;
    height: 285px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
  }
  &-box &-content {
    height: calc(100% - 40px);
    padding: 12px;
    font-size: 14px;
    color: var(--bg-color);
    .icon {
      height: 124px;
    }
    .note {
      width: 85%;
      margin-bottom: 4px;
    }
  }
  &-item {
    height: 45px;
    line-height: 45px - (1px * 2);
    margin: 8px 0;
    padding: 0 35px;
    font-size: 16px;
    color: #424242;
    border: 1px solid #e6e6e6;
    background-color: rgb(250, 250, 250);
    i {
      font-size: 25px;
      margin-right: 12px;
      color: #888;
      line-height: 1;
      vertical-align: sub;
    }
  }
  &-box &-action {
    border-top: 1px solid #efefef;
    height: 40px;
    line-height: 40px;
    color: var(--blue-color);
    button {
      width: 100%;
    }
  }
}
