.market-preview {
  .head-bar {
  }
  .body-bar {
    background-color: $bg-color;
    height: calc(100% - 90px);
    overflow: auto;
    .ticker-status {
      display: flex;
      padding: 8px 10px;
      font-size: 12px;
      line-height: 14px;
      > div {
        flex: 1;
      }
      .left-panel {
        line-height: 21px;
        .price {
          font-size: 20px;
        }
        span + span {
          margin-left: 4px;
        }
      }
      .right-panel {
      }
    }
    .group-chart {
      position: relative;
      height: calc(50% + 35px);
      .head-bar {
        height: 35px;
        position: relative;
        font-size: 14px;
        line-height: 35px;
        background-color: $bg-head-color;

        .chart-picker {
          position: relative;
          display: flex;
          justify-content: left;

          > .picker {
            padding: 0;
            flex: 0;
            text-align: left;
            cursor: pointer;
            .text {
              padding: 0 10px;
              display: flex;
            }
          }
          .time-picker {
            .selected {
              color: $blue-color;
            }
            i {
              margin-left: 6px;
              font-size: 10px;
              color: $blue-color;
            }
            .active i {
              transform: rotate(180deg);
            }
          }
          .depth-picker {
            color: $mobile-icon-color;
          }
        }
      }
      .charts {
        position: relative;
        height: calc(100% - 30px);
      }
    }
    .group-trade {
      font-size: 14px;
      //margin-top: 16px;
      position: relative;
      .head-bar {
        background-color: $bg-head-color;
        height: 35px;
        position: relative;
        display: flex;
        justify-content: left;
        > .picker {
          line-height: 35px;
          flex: none;
          text-align: left;
          padding: 0 10px;
        }
      }
      .orderbook,
      .trades {
        display: flex;
        padding: 0 10px;
      }
      .ex_table {
        flex: 1;
        padding: 0 2px;
        dt {
          margin-top: 4px;
          padding: 0;
          span {
            color: $mobile-icon-color;
            border-bottom: 1px solid $sort-color;
            line-height: 26px;
          }
        }
        dd p {
          padding: 0;
          line-height: 24px;
          height: 24px;

          background-position: 0;
          background-size: 0 0;
          background-repeat: no-repeat;
          &.asks {
            background-image: linear-gradient(
              rgba(250, 82, 82, 0.15),
              rgba(250, 82, 82, 0.15)
            );
            background-position: left;
          }
          &.bids {
            background-image: linear-gradient(
              rgba(18, 184, 134, 0.15),
              rgba(18, 184, 134, 0.15)
            );
            background-position: right;
          }
        }
      }
    }
  }
  .tab-bar {
    background-color: $bg-head-color;
    position: fixed;
    display: block;
    height: 50px;
    width: 100%;
    bottom: 0;
    padding: 0.43em 12px;
    > div {
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
      display: inline-block;
      width: 48%;
      text-align: center;
      font-size: 16px;
      height: 35px;
      line-height: 34px;
    }
  }
}

.ant-dropdown-kline {
  left: 10px !important;
  right: 10px !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  .ant-dropdown-menu {
    color: $text-default-color;
    display: table;
    box-shadow: none;
    width: 100%;
    .ant-dropdown-menu-item {
      float: left;
      margin: 0;
      clear: none;
      width: 20%;
      padding: 0;
      text-align: center;
      font-size: 12px !important;
    }
  }
}
