.screen-personal-m.dw-history {
  .body-bar {
    .history-setting {
      //same as .order-setting
      height: 35px;
      width: 100%;
      background-color: var(--bg-card-color);
      margin-bottom: 0;
      display: flex;
      > * {
        margin: auto 0;
        padding: 0 12px;
      }
      .choose-completer,
      .choose-picker {
        height: 100%;
        .text-selected {
          line-height: 35px;
        }
      }
    }
    .dw-history-list {
      position: relative;
      height: calc(100% - 35px);
      padding: 0 12px;
      overflow: auto;
      .history-row {
        position: relative;
        display: flex;
        line-height: 1.5;
        padding: 4px 0;
        &::after {
          content: "";
          clear: both;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #1d2638;
        }
        > * {
          flex: 1;
          margin: auto 0;
        }

        .info {
          font-size: 14px;
          span + span {
            margin-left: 10px;
          }
        }
        .date {
          font-size: 12px;
          color: var(--disabled-color);
        }
        .state {
          font-size: 14px;
          color: var(--disabled-color);
          &.processing {
            color: var(--blue-color);
          }
          /*&.failed {
            color: var(--down-color);
          }*/
        }
      }
    }
  }
}

.screen-personal-m.dw-history-panel {
  .body-bar {
    .information-history {
      background-color: var(--bg-card-color);
      padding: 12px;
      .name {}
      .value {
        > * {
          border-bottom: 1px solid var(--border-color);
          padding: 8px 0;
          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
        p {
          display: flex;
          font-size: 12px;
          line-height: 1.25;
          word-break: break-all;
          > span {
            &.name {
              flex: 0 0 25%;
              font-size: 14px;
              color: #93a0b7;
            }
            &.value {
              flex: 0 0 75%;
            }
          }
          &.amount,
          &.status {
            .value {
              font-size: 14px;
            }
          }
          &.processing {
            .value {
              color: var(--blue-color);
            }
          }
        }
      }
    }

    .action {
      .copy-txid {
        background-color: #253554;
      }
    }
  }
}
