.page-exchange .order-entry-group {
  height: $order-entry-height;
  margin-top: 4px;
  .ant-card-body {
    display: flex;
    #asks_entry,
    #bids_entry {
      height: 100%;
      width: 50%;
      padding: 12px;
      padding-top: 0;
      .first_tb {
        font-size: 12px;
        height: 34px;
        line-height: 18px;
        padding: 8px 0;
        .title {
          float: left;
          font-weight: bold;
        }
        .balance {
          float: right;
        }
      }
      .amount-box,
      .price-box {
        width: 100%;
        position: relative;
        label {
          font-size: 12px;
          color: var(--color-gray);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          &.name {
            left: 16px;
          }
          &.currency {
            right: 16px;
          }
        }
        input {
          height: 20px;
          line-height: 20px;
          display: block;
          border: none;
          outline: none;
          box-shadow: none;
          width: 80%;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
        }
      }
      .price-box {
        &.input-entry {
          padding-left: 70px;
        }
        .estimate-box {
          width: 100%;
          position: absolute;
          bottom: -8px;
          left: 0;
          border-radius: 0 0 3px 3px;
          height: 14px;
          line-height: 14px;
          font-size: 11px;
          background-color: var(--blue-color);
          padding-left: 16px;
          color: #fff;
          opacity: 0;
          &.show {
            opacity: 1;
          }
        }
      }
      .amount-box {
        margin-top: 10px;
        &.input-entry {
          padding-left: 70px;
        }
      }
      .chance-box {
        margin-top: 10px;
        display: flex;
        button {
          border: 1px solid;
          border-radius: 3px;
          margin-left: 4px;
          margin-top: 0;
          height: 24px;
          transition: all 0.15s;
          font-size: 12px;
          flex: 1;
          color: #7085ac;
          &:hover {
            border-color: var(--blue-color) !important;
            color: var(--blue-color);
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .total {
        margin: 10px 0 0;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        em {
          font-weight: 400;
          font-style: normal;
          color: $disabled-color;
        }
      }
    }
  }
  .submit {
    box-sizing: border-box;
    display: block;
    height: 35px;
    margin-top: 8px;
    width: 100%;
    color: #fff;
    border-radius: 3px;
    text-transform: capitalize;
    transition: all 0.15s, margin-top 0s;
    border-color: transparent;
    &:disabled {
      background: $disabled-color !important;
    }
  }
}
